.AsidePanel{
  display: flex;
  flex-direction: column;
  background-color: #0F263D;
  width: 200px;
  height: 100%;
  padding: 20px;

}
.personNick{
  color: #1A7E95;
  text-decoration: none;
  padding: 10px;
  border: 1px solid #0F263D ;
  margin: 10px 0;

  overflow: hidden;
}
