.container {
  color: #0f7dc6;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;

}

button {
  cursor: pointer;
  width: 130px;
  margin: 10px;
}

.wrapperRegisterCard {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-color: #0f7dc6;
  padding: 20px;
  box-shadow: 0 0 5px 5px rgba(29, 162, 216, 0.2);
  width: 500px;
  height: 900px;
}

.wrapperInput {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  width: 60%;

}

.wrapperError {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.error {
  margin: 20px 0;
}

.wrapperButton {
  display: flex;
  gap: 40px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

